<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>HiepTechLap.com</title>
    <link rel="stylesheet" href="myStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="head">
                <div class="webName">
                    <img src="images/background-powerpoint-cong-nghe-13.jpg" id="headerImg">
                    <a href="#" id="name">HiepTechLap.com</a>
                    <i id="subheading">Thế giới laptop cho bạn!</i>
                </div>
                <div class="form-container">
                    <input type="text" placeholder="      Search ..." size="20">
                    <button class="lg"><i class="fa fa-search"></i></button>
                </div>
            </div>

        </div>
        <div class="body">
            <div>
                <ul class="menu">
                        <li class="active"><a href="#">Danh mục sản phẩm</a></li>
                        <li><a href="#">Bán hàng trực tuyến</a></li>
                        <li><a href="#">Bán trả góp</a></li>
                        <li><a href="#">Khuyến mại</a></li>
                        <li><a href="#">Tin tức</a></li>
                </ul>
            </div>
            <div class="content">
                <h3 class="first-text">Các mẫu laptop hot & new : </h3>
                <div class="row1">
                    <div class="arrow" id="left">
                        <figure>
                            <img src="images/left1.png" alt="">
                        </figure>
                    </div>
                    <div id="frame">
                        <div class="slide">
                            <figure>
                                <a href="#"><img class="lazy loaded" src="https://laptopworld.vn/media/product/250_5205_dell_xps_13_7390_silver__1.jpg"></a>
                                <figcaption>
                                    <h2>26.990.000</h2>
                                    <p>Dell XPS 13 7390 Silver (i5 - 10210U/ Ram 8Gb/ SSD)</p>
                                </figcaption>
                            </figure>
                            <figure>
                                <a href="#"><img src="https://laptopworld.vn/media/product/250_5358_dell_vosro_v3590a__anh1.jpg" alt=""></a>
                                <figcaption>
                                    <h2>14.890.000</h2>
                                    <p>Dell Vosro V3590A P75F010N90A</p>
                                </figcaption>
                            </figure>
                            <figure>
                                <a href="#">
                                    <img src="https://laptopworld.vn/media/product/250_6329_" alt="">
                                </a>
                                <figcaption>
                                    <h2>17.690.000</h2>
                                    <p>Dell Vostro V5490B P116G001V90B
                                    </p>

                                </figcaption>
                            </figure>
                            <figure>
                                <a href="#"><img src="https://laptopworld.vn/media/product/250_6354_dell_inspiron_15_g3_3500.jpg" alt=""></a>
                                <figcaption>
                                    <h2>19.890.000</h2>
                                    <p>Dell Inspiron 15 G3 3500 (i5 /8G Ram/256GB SSD/ GTX 1650)
                                    </p>

                                </figcaption>
                            </figure>
                            <figure>
                                <a href=""><img src="https://laptopworld.vn/media/product/250_6623_inspiron_5500_5.jpg" alt=""></a>
                                <figcaption>
                                    <h2>10.590.000</h2>
                                    <p>Dell Inspiron 15 G3 3500 (i5 /8G Ram/256GB SSD/ GTX 1650)
                                    </p>

                                </figcaption>
                            </figure>
                            <figure>
                                <a href=""><img src="https://laptopworld.vn/media/product/250_7234_" alt=""></a>
                                <figcaption>
                                    <h2>14.790.000</h2>
                                    <p>Dell Inspiron G5 15 5500 (i7-10750H/ Ram 8GB / SSD 256GB / GTX 1650Ti)
                                    </p>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="arrow" id="right">
                        <figure>
                            <img src="images/right.png" alt="">
                        </figure>
                    </div>
                </div>
                <div class="para"><h3>Các mẫu laptop tổng hợp:</h3></div>

                <div id="row2">
                    <figure>
                        <a href=""><img src="https://laptopworld.vn/media/product/250_6623_inspiron_5500_5.jpg" alt=""></a>
                        <figcaption>
                            <h2>11.490.000</h2>
                            <p>Dell Vostro 3401 70233744
                            </p>

                        </figcaption>
                    </figure>
                    <figure>
                        <a href=""><img src="https://laptopworld.vn/media/product/250_7310_" alt=""></a>
                        <figcaption>
                            <h2>65.890.000</h2>
                            <p>Dell Vostro 13 5301 V3I7129W Vintage Gray
                            </p>

                        </figcaption>
                    </figure>
                    <figure>
                        <a href=""><img src="https://laptopworld.vn/media/product/250_7300_" alt=""></a>
                        <figcaption>
                            <h2>19.990.000</h2>
                            <p>Dell Inspiron 14 5490 FMKJV11
                            </p>

                        </figcaption>
                    </figure>
                    <figure>
                        <a href=""><img src="https://laptopworld.vn/media/product/250_5880_tuf_gaming_a15_fa506.jpg" alt=""></a>
                        <figcaption>
                            <h2>25.990.000</h2>
                            <p>Dell Inspiron 7306 T7306A
                            </p>

                        </figcaption>
                    </figure>
                    <figure>
                        <a href=""><img src="https://laptopworld.vn/media/product/250_6226_" alt=""></a>
                        <figcaption>
                            <h2>19.990.000</h2>
                            <p>Asus VivoBook M433IA-EB339T Trắng
                            </p>

                        </figcaption>
                    </figure>

                </div>
                <div class="row">
                    <figure>
                        <a href=""><img src="https://laptopworld.vn/media/product/250_7298_" alt=""></a>
                        <figcaption>
                            <h2>61.490.000</h2>
                            <p>Asus ZenBook UX481FL-BM048T
                            </p>

                        </figcaption>
                    </figure>
                    <figure>
                        <a href=""><img src="https://laptopworld.vn/media/product/250_7284_" alt=""></a>
                        <figcaption>
                            <h2>17.390.000</h2>
                            <p>HP Pavilion x360 14-dw0062TU 19D53PA
                            </p>

                        </figcaption>
                    </figure>
                    <figure>
                        <a href=""><img src="https://laptopworld.vn/media/product/250_7175_" alt=""></a>
                        <figcaption>
                            <h2>23.990.000</h2>
                            <p>Dell Inspiron G5 15 5500 (i7-10750H/ Ram 8GB / SSD 256GB / GTX 1650Ti)
                            </p>

                        </figcaption>
                    </figure>
                    <figure>
                        <a href=""><img src="https://laptopworld.vn/media/product/250_7267_" alt=""></a>
                        <figcaption>
                            <h2>12.990.000</h2>
                            <p>Acer Aspire 3 A315-56-502X NX.HS5SV.00F
                            </p>

                        </figcaption>
                    </figure>
                    <figure>
                        <a href=""><img src="https://laptopworld.vn/media/product/250_6223_ga401ii_he_1.jpg" alt=""></a>
                        <figcaption>
                            <h2>14.690.000</h2>
                            <p>Dell Inspiron 15 G3 3500 (i5 /8G Ram/256GB SSD/ GTX 1650)
                            </p>

                        </figcaption>
                    </figure>
                </div>
                <div class="row">
                    <figure>
                        <a href=""><img src="https://laptopworld.vn/media/product/250_7262_dell_inspirion_14_5406_t5406_4.jpg" alt=""></a>
                        <figcaption>
                            <h2>17.990.000</h2>
                            <p>Dell Inspiron 7501 N2101012W Silver
                            </p>

                        </figcaption>
                    </figure>
                    <figure>
                        <a href=""><img src="https://laptopworld.vn/media/product/250_7261_dell_inspirion_15_5502_n5502_4.jpg" alt=""></a>
                        <figcaption>
                            <h2>14.990.000</h2>
                            <p>Asus ZenBook 13 UX325EA-EG079T
                            </p>

                        </figcaption>
                    </figure>
                    <figure>
                        <a href=""><img src="https://laptopworld.vn/media/product/250_7237_dell_vostro_5490_v4i5106wa_5.jpg" alt=""></a>
                        <figcaption>
                            <h2>23.990.000</h2>
                            <p>Dell Vostro V5490B P116G001V90B
                            </p>

                        </figcaption>
                    </figure>
                    <figure>
                        <a href=""><img src="https://laptopworld.vn/media/product/250_7229_dell_vostro_15_3591_gtnhj1_4.jpg" alt=""></a>
                        <figcaption>
                            <h2>29.990.000</h2>
                            <p>Dell XPS 9700 ( i7-10875H/ Ram 16GB/ SSD 512GB/ GTX 2060 / FHD)
                            </p>

                        </figcaption>
                    </figure>
                    <figure>
                        <a href=""><img src="https://laptopworld.vn/media/product/250_7234_" alt=""></a>
                        <figcaption>
                            <h2>25.990.000</h2>
                            <p>LG Gram 2020 14ZD90N-V.AX53A5
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="footer">
            <hr>
            <div class="info">
                <h3>THÔNG TIN CHUNG</h3>
                <ul>
                    <li><a href="">Giới thiệu công ty</a></li>
                    <li><a href="">Tuyển dụng</a></li>
                    <li><a href="">Tin tức</a></li>
                    <li><a href="">Ý kiến khách hàng</a></li></ul>
            </div>
            <div class="policy">
                <h3>CHÍNH SÁCH CHUNG</h3>
                <ul>
                    <li><a href="">Chính sách vận chuyển</a></li>
                    <li><a href="">Chính sách bảo hành</a></li>
                    <li><a href="">Chính sách đổi, trả lại hàng</a></li>
                    <li><a href="">Chính sách hoàn tiền</a></li></ul>
            </div>
            <div class="assis">
                <h3>HỖ TRỢ KHÁCH HÀNG</h3>
                <ul>
                    <li><a href="">Mua hàng trực tuyến</a></li>
                    <li><a href="">Hướng dẫn mua trả góp</a></li>
                    <li><a href="">Hướng dẫn mua hàng Online</a></li>
                    <li><a href="">Tạo Link trả góp 0% Online</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function (){
            $("#left").click(function (){
                $(".slice").animate({"width": "-=220"}, "fast");
            });
            $("#right").click(function () {
               $(".slice").animate({"width": "+=220"}, 200);
            });
        });
    </script>
</body>
</html>